.resume {
    --link-color: blue;
    margin: auto; /* https://developer.mozilla.org/en-US/docs/Web/CSS/margin#syntax */

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vh;
    max-width: 1050px;
}

.dark-btn {
    font-size: 0.8em;
    position: relative;
    left: 70%;
    padding: 0.1em;    
}

.dark-btn:hover {
    background-color: #4e4b4b;
    color: rgba(255, 255, 255, 0.623);
}

h1 {
    margin: auto;
}

h2 {
    margin: 1em 0em 0em 0em; /* top right bottom left */
}

/* For links */
a:link, a:visited {
    color: var(--link-color);
}

a:hover {
    color:rebeccapurple;
}

/* Header and Content CSS */
.header-container, .content-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

.header-right, .content-right {
    text-align: right;
    /* border-style: dotted; */
    flex: 50%;
}

.header-left, .content-left {
    /* border-style: dashed; */
    flex: 50%;
}

.content-main {
    flex: 1; /* auto */
}
