.resume {
    --link-color: blue;
    border-style: solid;
    margin: 2em;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vh;
}

h1 {
    margin: auto;
}

h2 {
    margin: 1em 0em 0em 0em; /* top right left bottom */
}

/* For links */
a:link, a:visited {
    color: var(--link-color);
}

a:hover {
    color:rebeccapurple;
}

/* Header CSS */
.header-container, .content-container {
    display: flex;
    align-items: flex-start;
    flex-flow: row wrap;
}

.header-right, .content-right {
    text-align: right;
    /* border-style: dotted; */
    flex: 50%;
}

.header-left, .content-left {
    /* border-style: dashed; */
    flex: 50%;
}

.content-main {
    flex: 1; /* auto */
}
