.resume {
    --link-color: blue;
    border-style: solid;
    margin: 2em;

    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5vh;
}

h1 {
    margin: auto;
}

/* For links */
a:link, a:visited {
    color: var(--link-color);
}

a:hover {
    color:rebeccapurple;
}

/* Header CSS */
.header-container {
    display: flex;
}

.header-right {
    text-align: right;
    /* border-style: dotted; */
    flex: 1;
}

.header-left {
    /* border-style: dashed; */
    flex: 1;
}
